form{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    padding: 30px;
}

label{
    margin-right: 10px;
}
.input{
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid #555;

}
